

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1vw;
	text-decoration: none;
	background-color: #0f0f0f;

}
.logo {
	align-items: center;
}

.logo  h6 {
	font-size: 2.5vw;
}

.logo p{
	text-transform: uppercase;
}

.logo img{
	border-radius: 50px 50px 50px 50px;
}

h3 {
	font-size: 1.2vw;
}

.content {
	background-color: white;
	width: 80%;
	float: right;
}
 
nav {
	float: left;
	background-color: #202020;
	width: 20%;
	height: 100%;
	
}

nav li {

	list-style: none;
}

nav li a {
	font-weight: bold;
	display: block;
	color: #A2A2A2;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding: 30px 20px;

}

nav li a:hover {
	background-color: #3554b0;
	color: white;
}

.headerPart {
	display: block;
	align-items: center;
	margin: 3%;
	text-align: center;
}

.headerPart img{
	position: relative;
}

.articlePart{
	margin: 3%;
	padding-top: 100px;

}

footer {
	margin: 3%;
	padding-top:100px;
	text-align: center;
}
